<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs Playlist</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <div id="vue-app">
      <h1>Looping through lists</h1>
      <!--Display the list of characters use v-for directive-->
      <ul>
        <!-- v-for directive that displays array of strings-->
        <li v-for="character in characters">{{ character }}</li>
      </ul>
      <ul>
          <!-- v-for directive that displays array of objects-->
        <li v-for="ninja in ninjas">{{ ninja.name}} - {{ ninja.age}}</li>
      </ul>
    </div>

    <script src="app.js"></script>
</body>
</html>